@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script&family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: PT Sans, sans-serif;
    color: #000;
}

/* Logo and heading*/

#logo {
    font-size: 300%;
    margin-left: 20px;
    float: left;
    margin-left: 30px;
}

h1, h2 {
    font-family: Dancing Script, sans-serif;
    color: #000;
    
}

#menu{
    font-size: 110%;
}

#menu > li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    color: #000;
}

#menu a:hover {
     border-bottom: 1px solid #000;
}

/* menu navigation */

#menu, #logo {
     line-height: 75px;
}

/* Shop-photo*/

#shop-photo-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#shop-photo {
    height: 500px;
    width: 100%;
    background-image: url(../images/background4.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 110%;
}