@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script&family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: PT Sans, sans-serif;
    color: #000;
}

/* Logo and heading*/

#logo {
    font-size: 300%;
    margin-left: 20px;
    float: left;
    margin-left: 30px;
}

h1, h2 {
    font-family: Dancing Script, sans-serif;
    color: #000;
    
}

#menu{
    font-size: 110%;
}

#menu > li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a{
    text-decoration: none;
    color: #000;
}

#menu a:hover {
     border-bottom: 1px solid #000;
}

.active {
    border-bottom: 1px solid #000;
}

/* menu navigation */

#menu, #logo {
     line-height: 75px;
}

/* Shop-photo*/

#shop-photo-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#shop-photo {
    height: 500px;
    width: 100%;
    background-image: url(../images/background4.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 110%;
}

/*coffeehouse ethos*/

#coffeeshop-ethos{
    height: 750px;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about{
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about{
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;

}

.left-about-heading{
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading{
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#image-container {
    height: 430px;
    width: 640px;
}

#image-bg {
    background: url(../images/coffeeshop4.jpg);
    height: 100%;
}

/* Footer */

footer {
    height: 150px;
    background-color: #000;
}

.social {
    text-align: center;
}

.social > li {
    list-style: none;
    display: inline-block;
    line-height: 170px;
    margin-right: 50px;
}

.social i {
    color: #fff;
    font-size: 200%; 
    margin: 1%;
    padding: 5%;   
}