@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script&family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: PT Sans, sans-serif;
    color: #000;
}

/* Logo and heading*/

#head {
    overflow: hidden;
}

#logo {
    font-size: 300%;
    margin-left: 30px;
    float: left;
}

h1, h2, h3 {
    font-family: Dancing Script, sans-serif;
    color: #000;
    
}

#menu{
    font-size: 110%;
}

#menu > li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a{
    text-decoration: none;
    color: #000;
}

#menu a:hover {
     border-bottom: 1px solid #000;
}

.active {
    border-bottom: 1px solid #000;
}

/* menu navigation */

#menu, #logo {
     line-height: 75px;
}

/* Shop-photo*/

#shop-photo-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#shop-photo {
    height: 400px;
    width: 100%;
    background-image: url(../images/background5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*coffeehouse ethos*/

#coffeeshop-ethos{
    height: 650px;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
}

#left-about a {
    font-family: Dancing Script, sans-serif;
    color: #000;
    font-size: 25px;
}

#right-about{
    padding-top: 30px;
    width: 33%;
    float: right;
}

#right-about a {
    font-family: Dancing Script, sans-serif;
    color: #000;
    font-size: 25px;
}

#center-about{
    width: 33%;
    margin: 0 auto;
}

.left-about-heading{
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading{
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#image-container {
    height: 430px;
    width: 640px;
}

#image-bg {
    background: url(../images/coffeeshop4.jpg);
    height: 100%;
}

/* Ceffeehouse video*/

#coffee-video{
    text-align: center;
    padding: 20px;
}

#coffee-video h1 {
    font-size: 60px;
}

#coffee-video p{
    font-size: 20px;
}

#coffee-video h2{
    font-size: 40px;
}

/* Footer */

footer {
    height: 150px;
}

.social {
    text-align: center;
}

.social > li {
    list-style: none;
    display: inline;
    
}

.social i {
    color: #000;
    font-size: 150%;
    margin: 1%;
    padding: 2%;
}

/* Location */

#location-box {
    height: 800px;
    background-image: url(../images/location2.jpg);
    background-size: cover;
    width: 100%;
    margin: 0 auto;
}

#location-box h1{
    font-size: 100px;
    text-align: center;
    color: #fcba03;
    
}


#times-box {
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
}

#times-box h2 {
    color: #fcba03;
    font-size: 50px;
}

#times-box h3 {
    font-size: 20px;
    color: #fff;
}
/* Sign up*/

#signup-box{
    height: 800px;
    background-image: url(../images/signup7.jpg);
    background-size: cover;
    width: 100%;
}

#signup-text {
    margin: 150px 5% 0 0;
    color: #fff;
    background-color: rgba(219, 219, 219, 0.37);
    width: 600px;
    position: absolute;
    left: 35%;
    padding: 30px;
    text-align: center;
}

.text-input{
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    text-align: center;
}

.text-input:hover {
    border-color: #fcba03;
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 30px 32px 30px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.submit-button:hover {
    background-color: #fcba03;
    color: #000;
}

#signup-text h1 {
    font-size: 100px;
    color: #fcba03;
}

#signup-text h2{
    font-size: 40px;
    color:#fcba03;
}

/* Menu */

#menu-box{
    height: 1100px;
    background-image: url(../images/menu1.jpg);
    background-size: cover;
    width: 100%;
    text-align: center;
    display: block;
}

#menu-box h1 {
    font-size: 80px;
    color: #fcba03;
    
}

.menu-content {
    height: 800px;
    width: 600px;
    background-color: #fafafa;
    margin: 50px 10% 0 0;
    position: absolute;
    left: 35%;
    padding: 20px;
    text-align: center;
}

.menu-content > h2 {
    font-size: 25px;
}

.menu-content > h3 {
    text-align: left;
    font-size: 20px;
    color: #fcba03;
}

.menu-content > p {
    text-align: left;
    font-size: 15px;
}

/* Media queries */

/*For larger to medium screens size from 1200px wide and down*/

@media screen and (max-width: 1200px) {

    /*index.html*/

    #coffeeshop-ethos{
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    .left-about-heading, .right-about-heading {
        width: inherit;
    }
    
    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }
    
    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #image-container {
        height: 430px;
        width: 100%;
    }

    #image-bg {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /*menu.html*/
  
    .menu-content {
        left: 23%;
    }

    /*signup.html*/

    #signup-text {
        left: 23%;
    }

}

/*For medium screens sizes from 950px wide and down*/

@media screen and (max-width: 950px) {

#menu {
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
}

#coffeeshop-ethos {
    width: 90%;
    height: 1200px;
    margin: 0 auto;
}

.left-about-heading, .right-about-heading {
    width: inherit;
}

.left-about-heading h2, .right-about-heading h2 {
    width: 100%;
    text-align: center;
}

.left-about-heading p, .right-about-heading p {
    text-align: center;
    padding: 0 20px;
}

/*menu.html*/

#menu-box{
    height: 1200px;
}

.menu-content {
    height: 900px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 0%;
    padding: 5px;
}

.menu-content > p {
    width: 90%;
    text-align: center;
}

.menu-content > h3 {
    text-align: center;
}

}